body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f7fa;
}

header{
    background:#1e88e5;
    color:white;
    padding:20px;
}

header h1{
    margin:0;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:50px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:20px;
}

.card{
    width:250px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:center;
}

button{
    background:#1e88e5;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

footer{
    margin-top:30px;
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}
.logo-container{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
    margin-bottom:10px;
}

.logo{
    width:80px;
    height:80px;
    border-radius:50%;
    object-fit:cover;
}

.logo-container h1{
    color:white;
    font-size:32px;
}